# Managed by Ansible - edits will be overwritten on the next run.
NETSENTINEL_ROLE={{ netsentinel_role }}
NETSENTINEL_DATA_DIR=/var/lib/netsentinel
NETSENTINEL_LOG_LEVEL={{ netsentinel_log_level | default('INFO') }}
NETSENTINEL_API_TOKEN={{ netsentinel_api_token }}

NETSENTINEL_HUB_HOST=0.0.0.0
NETSENTINEL_HUB_PORT={{ netsentinel_hub_port | default(8080) }}
NETSENTINEL_DASHBOARD_USER={{ netsentinel_dashboard_user | default('') }}
NETSENTINEL_DASHBOARD_PASSWORD={{ netsentinel_dashboard_password | default('') }}

NETSENTINEL_NOTIFY_BACKEND={{ netsentinel_notify_backend | default('log') }}
NETSENTINEL_NTFY_URL={{ netsentinel_ntfy_url | default('https://ntfy.sh') }}
NETSENTINEL_NTFY_TOPIC={{ netsentinel_ntfy_topic | default('') }}
NETSENTINEL_TELEGRAM_BOT_TOKEN={{ netsentinel_telegram_bot_token | default('') }}
NETSENTINEL_TELEGRAM_CHAT_ID={{ netsentinel_telegram_chat_id | default('') }}
NETSENTINEL_WEBHOOK_URL={{ netsentinel_webhook_url | default('') }}

NETSENTINEL_TI_ENABLED={{ netsentinel_ti_enabled | default('true') }}
NETSENTINEL_ABUSEIPDB_API_KEY={{ netsentinel_abuseipdb_api_key | default('') }}
NETSENTINEL_BLOCKLIST_PATH=/var/lib/netsentinel/blocklist.txt

NETSENTINEL_HUB_URL={{ netsentinel_hub_url | default('http://127.0.0.1:8080') }}
NETSENTINEL_SENSOR_ID={{ inventory_hostname }}
NETSENTINEL_MONITOR_INTERFACE={{ netsentinel_monitor_interface | default('eth0') }}
NETSENTINEL_LOCAL_SUBNET={{ netsentinel_local_subnet | default('192.168.1.0/24') }}
NETSENTINEL_DISCOVERY_INTERVAL_SECONDS={{ netsentinel_discovery_interval | default(300) }}
NETSENTINEL_PORTSCAN_INTERVAL_SECONDS={{ netsentinel_portscan_interval | default(3600) }}
NETSENTINEL_DNS_FLUSH_INTERVAL_SECONDS={{ netsentinel_dns_flush_interval | default(60) }}
NETSENTINEL_PORTSCAN_NMAP_ARGS={{ netsentinel_portscan_nmap_args | default('-sS -T3 --top-ports 200 -Pn') }}
